.creation h1 {
  color: white;
}

.creation form {
  min-width: 500px;
  margin: auto;
  padding: 2rem;
  background-color: rgb(0 0 0 / 18%);
  border: 1px solid rgb(154 154 154);
  border-radius: 15px;
  text-align: -webkit-center;
  width: min-content;
  /* justify-content: center; */
}

.creation small {
  margin: auto;
  margin-left: 30%;
  color: rgb(72 38 3);
  font-size: 1rem;
}

.creation form div {
  display: inline-flex;
}

.creation form label {
  width: 80px;
  margin-right: 2rem;
  color: rgb(0 0 0);
  font-weight: bold;
}

.creation form input {
  width: 350px;
  background-color: rgb(199 199 199);
  color: rgb(0 0 0);
}

.creation form textarea {
  width: 350px;
  background-color: rgb(199 199 199);
  color: rgb(0 0 0);
}

.creation form button {
  display: block;
  margin-left: 40vh;
  background-color: rgb(47 36 36 / 66%);
  color: rgb(173 173 173);
  border-color: rgb(204 126 33);
}

.creation form button:hover {
  display: block;
  margin-left: 40vh;
  background-color: rgb(47 36 36 / 30%);
  color: rgb(138 210 44);
  border-color: rgb(140, 5, 5);
}
