html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  color: dark;
  background-image: url("/pictures/background.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: rgb(55, 53, 53);
}

h1 {
  color: black;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
