@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@500&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  color: white;
  background-image: url("/pictures/background.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: rgb(55, 53, 53);
}

h1 {
  color: black;
  /* background-color: #716d6da6; */
  /* border-bottom: 1px solid #5f0606; */
  text-align: center;
  font-family: "Mitr", sans-serif;
}
h3 {
  font-family: "Mitr", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.payment {
  text-align: -webkit-right;
}

#payment {
  margin-top: 10px;
  display: block;
  width: 200px;
  height: 100px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  background-color: beige;
  border-radius: 8%;
}

#payment span {
  position: relative;
  z-index: 2;
}

#payment:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #d0917e;
  transition: all 0.35s;
  border-radius: 8%;
}

#payment:hover {
  color: #fff;
}

#payment:hover:after {
  width: 100%;
}

#iconDonate {
  margin-top: 5px;
  height: 50px;
  width: 50px;
}

.marquee-rtl {
  color: black;
  max-width: 30em; /* largeur de la fenêtre */

  border: 10px solid#f0f0ff00;
  overflow: hidden; /* masque tout ce qui dépasse */
  box-shadow: 0 0.25em 0.5em rgba(204, 204, 204, 0), inset 0 0 1em 0.25em #cccccc00;
  font-size: xx-large;
}
/* le bloc défilant */
.marquee-rtl > :first-child {
  display: inline-block; /* modèle de boîte en ligne */
  padding-right: 2em; /* un peu d'espace pour la transition */
  padding-left: 100%; /* placement à droite du conteneur */
  white-space: nowrap; /* pas de passage à la ligne */
  animation: defilement-rtl 10s infinite linear;

  animation-name: defilement-rtl; /* référence à la règle @keyframes mise en oeuvre */
  animation-delay: 1s; /* valeur à ajuster suivant la longueur du message */
  animation-iteration-count: infinite; /* boucle continue */
  animation-timing-function: linear; /* pas vraiment utile ici */
}
@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, 0); /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%, 0, 0); /* position finale à gauche */
  }
}
#projetContainer {
  background-color: transparent;
  border: none;
}
.container {
  margin-top: 8vh;
}
.dontTouchPoka {
  margin-top: -58px;
  padding-top: 15vh;
  height: 100vh;
  min-height: 250px;
}

#WarningText {
  padding-top: 2vh;
  font-variant: all-small-caps;
  text-align: -webkit-center;
  font-size: x-large;
}

#warningTextbis {
  text-align: center;
  padding-top: 15vh;
}

#iconAddUser {
  color: rgb(66, 66, 194);
}

#iconAddPayment {
  color: orange;
}

#divRegisterIconUser {
  text-align: center;
}

#RegisterIconUser {
  height: 50px;
  width: 50px;
  color: black;
}
#PAYYYEMENT {
  background-color: black;
  text-align: -webkit-center;
}
#CardPayment {
  background-color: blue;
}

