html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: rgb(55, 53, 53);
  color: white;
}

h1 {
  color: black;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .carousel-caption {
  top: 40vh;
  color: black;
} */
/* .NavBar {
  background-color: rgb(62, 101, 143);
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}
.navProjectBar {
  height: 95vh;
  background-color: grey;
  display: table-row;
}
.MainContenairCss {
  display: flex;
} */
