@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
.nav {
  background-color: rgb(51 51 51);
  border-bottom: 1px solid rgb(185 185 185);
}
.nav {
  color: rgb(161, 6, 6) !important;
}

.nav a {
  color: white !important;
}

.nav a:hover {
  color: rgb(137, 137, 137) !important;
}

.logo_brand img {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 1px solid rgb(236 162 25);
}

.logo_brand span {
  font-family: "Sansita Swashed", cursive;
  color: rgb(136 136 135);
}

.username {
  color: rgb(165 117 8);
}

.avatar {
  color: rgb(220 220 220);
}
