.username {
  color: rgb(169 9 9);
}
.base_button {
  width: 100%;
  justify-content: center;
  margin-left: 0;
}
.main_button {
  width: 450px;
  height: 250px;
  background-color: rgb(39 38 38 / 78%);
  border: 1px solid rgb(243 243 243);
  border-radius: 15px;
  padding: 2rem;
  cursor: pointer;
  color: rgb(225, 217, 217);
}
.main_button h3 {
  color: rgb(255 255 255);
}

.spinout svg {
  height: 40px;
  color: rgb(41 208 12);
  margin-right: 1rem;
}

.chup svg {
  height: 60px;
  color: rgb(150 6 6);
  margin-right: 1rem;
}

div.main_button:hover {
  background-color: rgb(21 20 20 / 79%);
  border: 1px solid rgb(117, 2, 2);
  color: rgb(252, 252, 252);
}

div.main_button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
