.timeline {
  margin-top: 5rem;
}
.timeline svg {
  height: 20px;
  color: rgb(148 0 0);
  margin-right: 1rem;
}

.timeline a {
  color: rgb(91 185 7);
}

.timeline .card {
  background-color: rgb(21 21 21 / 78%);
  border: 1px solid rgb(224 224 224 / 72%);
  border-radius: 10px;
  margin-left: 2rem;
  min-width: 500px;
}
.timeline .card:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid rgb(0 0 0);
  background-color: rgb(219 211 222);
  border-radius: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -2.7rem;
  z-index: 1000;
}

.timeline .card:hover {
  background-color: rgb(0 0 0 / 78%);
  border: 1px solid rgb(183, 136, 55);
}

.timeline .card .body:active {
  /* transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
}

.timeline:before {
  min-height: 100vh;
  content: "";
  position: fixed;
  width: 3px;
  top: 0;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: rgb(56 1 1);
}

.timeline .title {
  color: rgb(249 152 5);
}

.timeline .cupcup {
  font-size: 0.7rem;
  color: rgb(32 91 142) !important;
}

.separator {
  background-color: rgb(144 3 3);
}
