.couan h1 {
  margin-left: 2rem;
  color: rgb(226 226 226);
  text-shadow: 1px 0px 5px #4a0202;
  border-bottom: 1px solid #5f0606;
}

.timeline {
  margin-top: 5rem;
}
.timeline svg {
  height: 20px;
  color: rgb(147 206 4);
}

.timeline a {
  color: rgb(204 204 204);
}

.timeline .card {
  background-color: rgb(0 0 0 / 80%);
  border: 1px solid rgb(255 255 255);
  border-radius: 10px;
  margin-left: 2rem;
  min-width: 500px;
}

.timeline .muted {
  color: rgb(210 209 209) !important;
}
.timeline .card:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid rgb(0 0 0);
  background-color: rgb(135 222 21);
  border-radius: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -2.7rem;
  z-index: 1000;
}

.timeline .card:hover {
  background-color: rgb(0 0 0 / 60%);
  border: 1px solid rgb(117, 2, 2);
}

.timeline .card .body:active {
  /* transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
}

.timeline:before {
  min-height: 100vh;
  content: "";
  position: fixed;
  width: 3px;
  top: 58px;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: rgb(148 9 9);
}

.timeline .title {
  color: rgb(171 170 170);
  font-weight: bold;
}

.timeline .cupcup {
  font-size: 0.7rem;
  color: rgb(156 181 17) !important;
}

.separator {
  background-color: rgb(113 113 113);
}
