.timeline {
  margin-top: 5rem;
}
.timeline .card {
  background-color: rgb(21 21 21 / 78%);
  border: 1px solid rgb(224 224 224 / 72%);
  border-radius: 10px;
  margin-left: 2rem;
  min-width: 500px;
}
.timeline:before {
  min-height: 100vh;
  content: "";
  position: fixed;
  width: 3px;
  top: 0;
  /* bottom: 0px; */
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: rgb(122, 5, 5);
}
.timeline .entries {
  width: 300px;
  margin: auto;
  position: relative;
  left: -31%;
  overflow-wrap: normal;
}
.timeline .entries .entry {
  width: calc(50% - 80px);
  float: left;
  padding: 20px;
  clear: both;
  text-align: right;
}
.timeline .entries .entry:not(:first-child) {
  margin-top: -60px;
}
.timeline .entries .entry .title {
  font-size: 32px;
  margin-bottom: 12px;
  position: relative;
  color: #fff;
}
.timeline .entries .entry .title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #ffffff;
  background-color: #1d1d1d;
  border-radius: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -58px;
  z-index: 1000;
}
.timeline .entries .entry .title.big:before {
  width: 24px;
  height: 24px;
  -webkit-transform: translate(8px, -50%);
  transform: translate(8px, -50%);
}
.timeline .entries .entry .body {
  color: #aaa;
}
.timeline .entries .entry .body p {
  line-height: 1.4em;
}
.timeline .entries .entry:nth-child(2n) {
  text-align: left;
  float: right;
}
.timeline .entries .entry:nth-child(2n) .title:before {
  left: -63px;
}
.timeline .entries .entry:nth-child(2n) .title.big:before {
  -webkit-transform: translate(-8px, -50%);
  transform: translate(-8px, -50%);
}
