.login {
  margin-top: -58px;
  padding-top: 20vh;
  height: 100vh;
  min-height: 250px;
  flex-direction: column;
  align-items: center;
  background-image: url("/pictures/background_green.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border: 2px solid rgb(115 4 4);
}

.login button {
  /* background-color: rgb(86 86 86 / 41%); */
  background-color: rgb(84 84 84 / 52%);
  color: rgb(249 249 249);
  border-radius: 15px;
  border-color: rgb(95 1 1);
  width: 17rem;
  font-weight: bold;
  text-align: start;
}

.login button img {
  width: 36px;
  height: 36px;
  margin-right: 1rem;
}

.login button:hover {
  background-color: rgb(87 87 87 / 80%);
  color: rgb(113 228 85);
  border-color: rgb(171 168 168);
}

@media only screen and (max-width: 768px) {
  .caption {
    top: 20vh;
  }
}
@media only screen and (max-width: 600px) {
  .caption {
    top: 15vh;
    font-size: 1.5rem;
    padding: 1rem;
  }
}
@media only screen and (max-height: 700px) {
  .login button {
    width: 17rem;
    font-size: 1rem;
  }
  .login button img {
    width: 20px;
    height: 20px;
  }
}
