.login {
  /* margin-top: -58px;
  padding-top: 20vh;
  height: 100vh;
  min-height: 250px;
  flex-direction: column; */
  align-items: center;
  /* background-image: url("/pictures/background_green.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  border: 1px solid rgb(130 126 126);
}

.providers {
  text-align: center;
}

.login button {
  /* background-color: rgb(86 86 86 / 41%); */
  margin: auto;
  background-color: rgb(212 212 212 / 24%);
  color: rgb(128 2 2);
  border-radius: 15px;
  border-color: rgb(0 0 0);
  width: 17rem;
  font-weight: bold;
  text-align: start;
}

.login button img {
  width: 36px;
  height: 36px;
  margin-right: 1rem;
}

.login button:hover {
  background-color: rgb(25 25 25 / 49%);
  color: rgb(39 197 0);
  border-color: rgb(255 255 255);
}

@media only screen and (max-width: 768px) {
  .caption {
    top: 20vh;
  }
}
@media only screen and (max-width: 600px) {
  .caption {
    top: 15vh;
    font-size: 1.5rem;
    padding: 1rem;
  }
}
@media only screen and (max-height: 700px) {
  .login button {
    width: 17rem;
    font-size: 1rem;
  }
  .login button img {
    width: 20px;
    height: 20px;
  }
}
