html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navProjectBar {
  width: 130px;
  height: 100%;
  background: grey;
  display: flex;
  flex-direction: column;
}
.navBar {
  background-color: rgb(116, 116, 196);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1vh;
}
.mainContainer {
  background-color: black;
  height: 81vh;
  display: flex;
  background: lightgray;
}
